body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #518794;
  padding: 20px 40px;
  color: #0e0d0d;
}

h1 {
  color: #1b1616;
  text-align: center;
}

h2 {
  color: #0a0a0a;
  border-bottom: 2px solid #191a1b;
  padding-bottom: 10px;
}

fieldset {
  background-color: bisque;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

legend {
  background-color: #d3d7da;
  color: white;
  padding: 5px 15;
  border-radiius: 8xp;
  font-weight: bold;
}

label {
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: bold;
  color: #3f0b921f;
}

label.label-inline {
  display: inline;
  margin-right: 0px;
  font-weight: bold;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  width: 100%;
}

button:hover {
  background-color: #238d28;
}

.tabla1 {
  widht: 100%;
  border-collapse: collapse;
  background-color: #f2f2f2;
  margin-top: 20px;
}

.tabla1 th,
.tabla1 td {
  border: 1px solid #dddddd;
  padding: 12px;
  text-align: left;
}

.tabla1 th {
  background-color: #2c3e50;
  color: white;
}
