body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #92bcda;
  padding: 20px 40px;
  color: #130000;
}

h1 {
  color: #0069fc;
  text-align: center;
}

h2 {
  color: #000000;
  border-bottom: 2px solid #1e3a60;
  padding-bottom: 1px;
}

fieldset {
  background-color: #f1e6e6;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

legend {
  background-color: #076dfc;
  color: white;
  padding: 4px 8px;
  border-radius: 1px;
  font-weight: bold;
}

label {
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: bold;
  color: #000000;
}

label.label-inline {
  display: inline;
  margin-right: 0px;
  font-weight: bold;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 1px;
  box-sizing: border-box;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 1px;
  box-sizing: border-box;
}

button {
  background-color: #ac1a1a;
  color: rgb(24, 7, 7);
  padding: 10px 20px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  width: 100%;
}

button:hover {
  background-color: #d35400;
}

.tabla1 {
  width: 100%;
  border-collapse: collapse;
  background-color: #e4dbdb;
  margin-top: 10px;
}

.tabla1 th,
.tabla1 td {
  border: 1px solid #000000;
  padding: 10px;
  text-align: left;
}

.tabla1 th {
  background-color: #0854be;
  color: white;
}
